.window {
  border: 1px solid gray;
  display: flex;

  &.maximized {
    height: 100%;
    width: 100%;
  }

  .menu-bar {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    height: 30px;
    background-color: black;
    border: 0 0 0 1px solid grey;
    cursor: default;

    button {
      background-color: black;
      color: gray;
      border: none;
      height: 30px;
      width: 30px;
      transition: 0.2s;

      &:hover {
        background-color: red;
        background-size: contain;
        color: lightgray;
      }
    }
  }

  iframe {
    border: none;
    height: calc(100% - 30px);
    width: 100%;
  }
}