#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  z-index: 100;
  top: 0px;
  left: 0px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #1a1a1a;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
