#root {
  text-align: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

/* nav {
  z-index: 100;
  top: 0px;
  left: 0px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #1a1a1a;

  .nav-links {
    padding: 2rem;
  }
} */

/* .card {
  padding: 2em;
} */
