#root {
  text-align: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  height: 100vh;
  width: 100vw;
}

body {
  margin: 0px;
  overflow: hidden;
}

.desktop {
  height: 100vh;
  width: 100vw;
}

.icon {
  margin: 5px;
  padding: 5px;
  flex-direction: column;
  width: 50px;

  p {
    margin: 0px;
    font-size: x-small;
    user-select: none;
  }

  img {
    user-select: none;
    pointer-events: none;
  }
}

.icon:active {
  cursor: default;
}

nav {
  z-index: 100;
  bottom: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #1a1a1a;

  img {
    object-fit: contain;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 2.5px;
    transition: 0.3s;
  }

  button {
    margin: 0px;
    padding: 0px;
    border: 2px;
    height: 50px;
    background-color: #1a1a1a;
  }

  .selected {
    background-color: rgba(119, 136, 153, .5);
    ;
  }

  img:hover {
    background-color: rgba(119, 136, 153, .5);
  }

  .nav-links {
    padding: 2rem;
  }
}

.menu {
  height: 550px;
  width: 400px;
  border-radius: 25px;
  background-color: rgba(163, 163, 163, 100);
  margin: 5px;
  position: fixed;
  bottom: 55px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  transform: translateY(100%);
  /* Start off-screen */
  transition: transform 0.25s ease-in-out;

  /* Transition effect */
  /* Slide-in class to bring the menu into view */
  &.slide-in {
    transform: translateY(0);
    /* Move menu into view */
  }

  /* Slide-out class to hide the menu */
  &.slide-out {
    transform: translateY(110%);
    /* Move menu off-screen */
  }
}